* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to bottom, #1D8348, #82E0AA); }

li {
  display: inline; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 0.5rem 0.5rem;
  font-size: 13px;
  font-weight: bold; }
  a:hover {
    cursor: pointer; }

hr {
  margin: 1.5rem 20rem 1.5rem 23rem;
  opacity: 0.6; }

span {
  font-style: italic;
  padding-right: 0.5rem; }

nav span {
  display: none; }

p {
  color: #000;
  line-height: 1.3; }

h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1.5rem 1rem;
  padding: 1rem; }

h3 {
  font-size: 1rem;
  padding: 0 20px 20px 20px; }

/*Logo*/
.header__logo {
  width: 25rem;
  height: 5rem; }

.header__logo--compr {
  display: none; }

/*navegacion*/
a.nav-link, a.footer-link:hover {
  transition: all 0.3s;
  padding: 0.5rem;
  border-radius: 0.5rem; }
  a.nav-link:hover, a.footer-link:hover {
    transform: scale(1.1);
    color: #140d3b;
    background-color: rgba(238, 188, 132, 0.8); }

/*h1 inicio*/
.imagen__inicio {
  background-image: url(../assets/img-inicio1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  width: 100%;
  height: 30rem;
  margin: 0 1rem 2rem 0;
  padding: 2rem; }
  .imagen__inicio h1 {
    position: absolute;
    display: inline;
    color: #f8f8ff;
    top: 21rem;
    left: 10rem;
    animation: h1Moves 2s alternate; }

/*animaciones*/
@keyframes h1Moves {
  0% {
    left: -15rem; }
  100% {
    left: 10rem; } }

@media (max-width: 768px) {
  .imagen__inicio h1 {
    top: 11rem;
    left: 2rem; }
  /*animaciones*/
  @keyframes h1Moves {
    0% {
      left: -20rem; }
    100% {
      left: 2rem; } }
  hr {
    width: 25rem;
    margin: 2rem auto; }
  .nav-link, a.footer-link:hover {
    color: #000;
    text-align: center; }
  li:nth-child(odd) {
    background-color: rgba(238, 188, 132, 0.8);
    border-radius: 0.5rem;
    margin: 0.2rem 3rem; } }

@media (max-width: 576px) {
  .header__logo {
    display: none; }
  .header__logo--compr {
    display: inline-block;
    height: 5rem;
    position: relative;
    right: 10rem;
    margin-left: 0.5rem; }
  .imagen__inicio h1 {
    top: 12rem;
    left: 4rem; }
  @keyframes h1Moves {
    0% {
      left: -20rem; }
    100% {
      left: 12rem; } } }

@media (max-width: 480px) {
  .header__logo--compr {
    right: 6rem; }
  .navbar {
    flex-wrap: wrap; }
    .navbar-toggler {
      margin-right: 0.5rem; }
  li:nth-child(odd) {
    margin: 0.5rem 0; }
  hr {
    width: 10rem;
    margin: 2rem auto; }
  .imagen__inicio {
    height: 20rem;
    margin: 0 auto; }
    .imagen__inicio h1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin-right: 2rem;
      top: 6rem;
      left: 1rem; }
  /*animaciones*/
  @keyframes h1Moves {
    0% {
      top: -15rem; }
    100% {
      top: 6rem; } } }

@media (max-width: 320px) {
  .header__logo--compr {
    right: 4rem; } }

.pilares {
  margin-top: 2rem; }
  .pilares__content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .pilares__content p {
      text-align: center;
      font-size: 1.6rem;
      margin: 0 1rem;
      padding: 1rem; }
    .pilares__content--img1, .pilares__content--img2 {
      width: 30rem;
      height: 20rem;
      margin: 1rem 3rem;
      border-radius: 0.5rem; }
  .pilares__content--div {
    order: 2; }
  .pilares__content--description2 {
    order: 1; }

@media (max-width: 768px) {
  .pilares__content {
    flex-wrap: wrap; }
    .pilares__content img {
      display: block;
      width: 35rem; }
    .pilares__content p {
      font-size: 1.5rem;
      line-height: 1.5; }
    .pilares__content--div {
      order: 1; }
    .pilares__content--description2 {
      order: 2; } }

@media (max-width: 576px) {
  .pilares__content img {
    width: 25rem; } }

@media (max-width: 480px) {
  .pilares__content img {
    margin: 1rem auto;
    padding: 0.5rem;
    width: 100%;
    border-radius: 1rem; }
  .pilares__content p {
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 1rem; } }

.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center; }

.card {
  background-color: #fff;
  padding: 1.5rem;
  margin: 1rem auto;
  border: 1px solid #a09d9d;
  width: 15rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 0.5rem; }
  .card__header img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem; }
  .card h3 {
    font-weight: bold; }

a.card__link {
  text-decoration: underline;
  text-transform: lowercase;
  background-color: rgba(236, 181, 119, 0.8);
  margin: 0.1rem 0.3rem;
  padding: 0.1rem 0.3rem 0.3rem 0.3rem;
  color: #140d3b;
  border: 1px solid #a09d9d;
  border-radius: 0.5rem;
  transition: font-size 0.3s; }
  a.card__link:hover {
    font-size: larger; }

@media (max-width: 992px) {
  .services__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-items: center; } }

@media (max-width: 480px) {
  .services__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
    margin: 0 auto; }
  .card {
    height: 25rem; }
    .card__header img {
      margin: 1rem auto; } }

h2.galery__index {
  color: #140d3b;
  margin-bottom: 1rem; }

.img__content {
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5); }

@media (max-width: 768px) {
  h2.galery__index {
    text-align: center;
    margin: 1rem;
    font-size: 22px; }
  .img__content {
    height: 20rem; } }

@media (max-width: 480px) {
  .img__galery {
    text-align: center;
    margin-top: 1rem; }
  h2.galery__index {
    text-align: center; } }

.content__contacto {
  width: 100%;
  height: 30rem; }
  .content__contacto--address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
  .content__contacto--index {
    color: #140d3b;
    margin-bottom: 1rem; }

iframe {
  width: 20rem;
  height: 20rem; }

.contacto__lista--iconos {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem auto 1rem 3rem;
  padding: 1rem; }

.iconos--content {
  display: flex;
  margin: 1rem; }

i.bi {
  margin-right: 0.5rem; }

.contacto--contacto {
  margin-right: 2rem;
  padding-right: 2rem;
  text-align: center; }
  .contacto--contacto h3 {
    margin: 0 1rem;
    padding: 2rem 2rem;
    font-weight: bold; }

/*Extend*/
.btn-base, .btn__form--send, .btn__form--cancel {
  background-color: #f8f8ff;
  color: #000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 0.4rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s; }
  .btn-base:hover, .btn__form--send:hover, .btn__form--cancel:hover {
    background-color: rgba(236, 181, 119, 0.8);
    font-size: larger;
    color: #000; }

@media (max-width: 992px) {
  .content__contacto {
    height: 40rem; }
    .content__contacto--index {
      margin: 1rem;
      font-size: 22px; }
    .content__contacto--address {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2fr 1fr;
      justify-items: center;
      margin-top: 2rem; }
  iframe {
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem; }
  .contacto--contacto {
    position: relative;
    left: 14rem;
    bottom: 1rem; }
  .content__lista--iconos {
    margin: 0.5rem; }
    .content__lista--iconos p {
      font-size: 14px; } }

@media (max-width: 768px) {
  .content__contacto {
    height: 60rem; }
    .content__contacto--index {
      text-align: center; }
      h2 .content__contacto--index {
        margin: 1rem auto; }
    .content__contacto--address {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative; }
  iframe {
    margin: 1rem;
    width: 20rem;
    height: 20rem; }
  .contacto__lista--iconos {
    margin-top: 2rem;
    margin: 1rem auto; }
  .contacto--contacto {
    position: absolute;
    top: 42rem;
    left: 10rem; }
    .contacto--contacto h3 {
      font-size: 1.3rem; } }

@media (max-width: 480px) {
  iframe {
    margin: 0 auto;
    width: 100%; }
  .contacto__lista--iconos {
    width: 100%;
    align-items: center; }
  .contacto--contacto {
    position: absolute;
    top: 42rem;
    left: 4rem; }
    .contacto--contacto h3 {
      margin: 0 auto;
      padding-top: 0.5rem; }
  .iconos--content p {
    margin-left: 1rem; }
  .btn-base, .btn__form--send, .btn__form--cancel {
    letter-spacing: 1px;
    padding: 1rem 2rem; } }

@media (max-width: 320px) {
  .contacto--contacto {
    left: 2rem; } }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap; }
  .footer__copyright {
    margin-top: 0.5rem;
    padding-top: 0.5rem; }

p.footer__copyright {
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 2rem; }

.contenedor__navbar {
  margin-top: 0.5rem;
  padding-top: 0.5rem; }

a.footer-link {
  color: #000;
  /*extend*/ }
  a.footer-link:hover {
    font-weight: bold;
    padding: 0.5rem; }

.link--facebook {
  color: #2f5ec2;
  margin: 0 auto;
  padding: 0 0.5rem; }

.link--instagram {
  color: #a71777;
  margin: 0 auto;
  padding: 0 0.5rem; }

.link--linkedin {
  color: #170e96;
  margin: 0 auto;
  padding: 0 0.5rem; }

a.link--facebook:hover {
  color: #a71777; }

a.link--instagram:hover {
  color: #a71777; }

a.link--linkedin:hover {
  color: #a71777; }

@media (max-width: 992px) {
  .footer {
    justify-content: space-around; }
  p.footer__copyright {
    font-size: 1rem; }
  .contenedor__navbar--footer {
    display: none; } }

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap; }
    .footer__copyright {
      margin-top: 2rem;
      padding-bottom: 1rem;
      font-weight: bold; }
  p.footer__copyright {
    font-size: 1rem;
    margin-right: 5rem;
    padding-right: 3rem; } }

@media (max-width: 480px) {
  .footer {
    margin-top: 0.5rem;
    padding: 0.5rem; }
    .footer__copyright {
      margin: 0.5rem auto 0 auto;
      font-size: 0.7rem;
      text-align: center; }
  p.footer__copyright {
    margin-right: 0.5rem;
    padding-right: 0.5rem; }
  a.footer__icons {
    margin-bottom: 0; } }

.video {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  position: relative; }
  .video video {
    width: 100%; }

.titulo__nosotros, h1.services__titulo, h1.galery__titulo, h1.titulo__contacto {
  color: #f8f8ff;
  font-size: 32px;
  font-style: italic;
  position: absolute;
  top: 32rem;
  left: 38rem;
  animation: h1MdMoveA 2s alternate; }

/*animacion*/
@keyframes h1MdMoveA {
  0% {
    top: 5rem; }
  100% {
    top: 32rem; } }

.nosotros {
  margin: 0 2rem;
  padding: 0 1rem 2rem 1rem; }
  .nosotros h2 {
    font-size: 2rem;
    padding: 2rem 1.5rem;
    text-decoration: underline;
    color: #140d3b; }
  .nosotros p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 3rem 1rem 3rem;
    margin: 0 6rem 1rem 6rem; }
    .nosotros p::first-letter {
      font: 2rem;
      font-style: italic;
      font-weight: bold; }

/*mobile last medias*/
@media (max-width: 768px) {
  h1.titulo__nosotros, h1.services__titulo, h1.galery__titulo, h1.titulo__contacto {
    top: 12rem;
    left: 15rem;
    animation: h1MdMove 2s alternate; }
  /*animacion*/
  @keyframes h1MdMove {
    0% {
      top: 1rem; }
    100% {
      top: 12rem; } }
  .footer__copyright--pages {
    margin-top: 1rem;
    padding-top: 1rem; } }

@media (max-width: 480px) {
  h1.titulo__nosotros, h1.services__titulo, h1.galery__titulo, h1.titulo__contacto {
    font-size: 1.5rem;
    top: 6rem;
    left: 5rem;
    animation: h1MdMoveA 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveA {
    0% {
      top: 1rem; }
    100% {
      top: 6rem; } }
  .nosotros h2 {
    font-size: 26px;
    text-align: center;
    margin: 1rem;
    padding: 1rem; }
  .nosotros p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem; } }

@media (max-width: 320px) {
  h1.titulo__nosotros, h1.services__titulo, h1.galery__titulo, h1.titulo__contacto {
    top: 3rem;
    left: 6rem;
    animation: h1MdMoveA 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveA {
    0% {
      top: -1rem; }
    100% {
      top: 3rem; } } }

.services {
  position: relative; }
  .services__img {
    width: 100%;
    height: 30rem;
    opacity: 0.8; }

h1.services__titulo {
  text-align: center;
  top: 24rem;
  left: 40rem;
  animation: h1PagesMove 2s alternate; }

/*animacion*/
@keyframes h1PagesMove {
  0% {
    top: 5rem; }
  100% {
    top: 24rem; } }

.img__servicios {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  margin: 2rem auto; }
  .img__servicios img {
    width: 20rem;
    height: 20rem; }

.lista--mant {
  list-style-type: circle;
  margin: 1rem 3rem 2rem 3rem; }
  .lista--mant li {
    display: list-item;
    background-color: transparent; }

.mantenimiento {
  background-color: rgba(236, 181, 119, 0.8);
  border-radius: 1.5rem; }

.services__mantenimiento--info {
  text-align: left;
  color: #140d3b; }
  .services__mantenimiento--info h2 {
    font-size: 1.5rem; }
  .services__mantenimiento--info p::first-letter {
    font-size: 1.5rem;
    font-style: italic; }

.info__servicios {
  text-align: left;
  background-color: rgba(236, 181, 119, 0.8);
  border-radius: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  color: #140d3b; }
  .info__servicios h2 {
    font-size: 1.5rem;
    margin: 1rem auto; }
  .info__servicios p::first-letter {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5; }

/*mobile last medias*/
@media (max-width: 992px) {
  .img3__servicios {
    display: none; }
  .img__servicios img {
    width: 20rem;
    height: 20rem; } }

@media (max-width: 768px) {
  h1.services__titulo {
    top: 12rem;
    left: 12rem;
    animation: h1MdMoveS 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveS {
    0% {
      top: 1rem; }
    100% {
      top: 12rem; } }
  .info__servicios,
  .services__mantenimiento--info {
    text-align: center; }
  .lista--mant {
    margin: 1rem auto; }
  .img__servicios img {
    width: 15rem;
    height: 15rem; } }

@media (max-width: 480px) {
  .services__img {
    height: 15rem; }
  h1.services__titulo {
    font-size: 1.5rem;
    top: 6rem;
    left: 3rem;
    animation: h1MdMoveS 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveS {
    0% {
      top: 1rem; }
    100% {
      top: 6rem; } }
  .services__mantenimiento--info,
  .info__servicios {
    margin: 0.5rem;
    padding: 0.5rem; }
  .mantenimiento__img,
  .img1__servicios,
  .img3__servicios {
    display: none; }
  img.img2__servicios {
    width: 100%;
    height: 20rem; } }

@media (max-width: 320px) {
  h1.services__titulo {
    left: 1rem; }
  .services__subtitulo {
    margin: 1rem auto; }
  img.img2__servicios {
    width: 18rem;
    height: 15rem; } }

.galery {
  position: relative; }
  .galery__img {
    width: 100%;
    height: 30rem;
    opacity: 0.8;
    margin-bottom: 2rem; }

h1.galery__titulo {
  text-align: center;
  top: 26rem;
  left: 38rem;
  animation: h1MdMoveG 2s alternate; }

/*animacion*/
@keyframes h1MdMoveG {
  0% {
    top: 5rem; }
  100% {
    top: 26rem; } }

.galery__subtitulo {
  color: #140d3b;
  font-size: 22px;
  font-weight: bold;
  margin: 1rem 5rem 2rem 4rem;
  text-transform: uppercase;
  text-decoration: underline; }

.galery__blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  margin: 0 1rem 3rem 1rem; }
  .galery__blog img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5); }

/*mobile last medias*/
@media (max-width: 768px) {
  .galery__blog {
    grid-template-columns: repeat(2, 1fr); }
  h1.galery__titulo {
    top: 13rem;
    left: 13rem;
    animation: h1MdMoveG 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveG {
    0% {
      top: 5rem; }
    100% {
      top: 13rem; } } }

@media (max-width: 576px) {
  .galery__img {
    height: 15rem; }
  h1.galery__titulo {
    font-size: 1.5rem;
    top: 7rem;
    left: 10rem;
    animation: h1MdMoveG 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveG {
    0% {
      top: 1rem; }
    100% {
      top: 7rem; } }
  .galery__subtitulo {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem auto; }
  .galery__blog {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 0 auto; } }

@media (max-width: 480px) {
  h1.galery__titulo {
    left: 4rem; } }

@media (max-width: 320px) {
  h1.galery__titulo {
    left: 2rem;
    animation: h1MdMoveG 2s alternate; } }

.titulo__contacto {
  position: relative; }
  .titulo__contacto--img {
    width: 100%;
    height: 30rem; }

h1.titulo__contacto {
  top: 26rem;
  left: 46rem;
  display: block;
  animation: h1MdMoveC 2s alternate; }

/*animacion*/
@keyframes h1MdMoveC {
  0% {
    top: 1rem; }
  100% {
    top: 26rem; } }

.contacto__h2 {
  color: #140d3b;
  font-size: 28px;
  text-decoration: underline; }

.form {
  background-color: rgba(236, 181, 119, 0.8);
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 1rem; }
  .form__content {
    margin: 1rem auto;
    padding: 1rem; }
    .form__content--textarea--block {
      display: block;
      text-align: center; }
    .form__content--telefono, .form__content--nombre, .form__content--email, .form__content--textarea {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem auto; }

input,
textarea {
  padding: 0.5rem 2rem;
  border: 1px solid #a09d9d;
  border-radius: 0.3rem;
  margin: 0.5rem 1rem 2rem 0.5rem;
  display: block; }

textarea {
  margin-top: 2rem; }

label {
  margin: 1rem; }

.btn__form {
  display: flex;
  justify-content: center;
  /*Extend*/ }
  .btn__form--send, .btn__form--cancel {
    display: inline-block;
    margin: 1rem 0.5rem 1rem 7rem;
    font-size: 11px; }
    .btn__form--send:hover, .btn__form--cancel:hover {
      background-color: #82E0AA; }
  .btn__form--cancel:hover {
    background-color: rgba(236, 181, 119, 0.8); }

.contact__contacto {
  margin: 3rem 1rem 0 3rem;
  padding-left: 3rem; }
  .contact__contacto--title {
    font-size: 1.5rem;
    color: #140d3b;
    text-decoration: underline; }

.contacto__lista--icono {
  margin: 1rem auto;
  padding-bottom: 1rem; }

/*mobile last medias*/
@media (max-width: 992px) {
  h1.titulo__contacto {
    left: 40rem; } }

@media (max-width: 768px) {
  .titulo__contacto--img {
    width: 100%;
    margin: 0 auto; }
  h1.titulo__contacto {
    font-size: 36px;
    top: 12rem;
    left: 17rem;
    animation: h1MdMoveC 2s alternate; }
  /*animacion*/
  @keyframes h1MdMoveC {
    0% {
      top: 1rem; }
    100% {
      top: 12rem; } } }

@media (max-width: 576px) {
  .titulo__contacto--img {
    height: 15rem; }
  h1.titulo__contacto {
    font-size: 1.5rem;
    left: 15rem;
    top: 7rem; }
  /*animacion*/
  @keyframes h1MdMoveC {
    0% {
      top: 1rem; }
    100% {
      top: 7rem; } }
  .form__content--telefono, .form__content--nombre, .form__content--email, .form__content--textarea {
    flex-direction: column;
    margin: 0 auto; }
  input,
  label {
    text-align: center;
    margin-bottom: 0.5rem; }
  .contacto__h2 {
    font-size: 1.5rem; }
  .btn__form {
    justify-content: space-between; }
    .btn__form--send, .btn__form--cancel, .btn__form--cancel {
      margin: 0 auto;
      padding: 0.5rem 1rem; }
  .contact__contacto {
    margin: 1rem auto;
    padding: 0.5rem; }
    .contact__contacto--title {
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem; } }

@media (max-width: 480px) {
  h1.titulo__contacto {
    left: 8rem;
    top: 5rem; }
  /*animacion*/
  @keyframes h1MdMoveC {
    0% {
      top: 1rem; }
    100% {
      top: 5rem; } }
  textarea {
    width: 17rem; } }

@media (max-width: 320px) {
  h1.titulo__contacto {
    left: 5rem; }
  .form__content {
    padding: 0; }
  input {
    margin: 0 auto; }
  textarea {
    width: 15rem;
    margin-top: 0.3rem; } }

.footer--pages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.footer__copyright--pages {
  margin-top: 1rem;
  font-weight: bold; }

/*mobile last medias*/
@media (max-width: 768px) {
  .footer__icons {
    margin-top: 1rem; } }

@media (max-width: 480px) {
  .footer__copyright--pages {
    margin: 0 auto 0 auto;
    font-size: 0.7rem;
    text-align: center; } }
