.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;

    &__copyright {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
    }
}

p.footer__copyright {
    font-size: 0.7rem;
    font-weight: $grosorFuente;
    margin-right: 2rem;
}

.contenedor__navbar {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
a.footer-link{
    color: $fuenteDark;
/*extend*/
    &:hover{
        @extend .nav-link;
        font-weight: $grosorFuente;
        padding: 0.5rem;
    }
}
//Mapa
$redesSociales : (
    facebook:rgb(47, 94, 194),
    instagram: rgb(167, 23, 119),
    linkedin: rgb(23, 14, 150)
);
@each $icono, $color in $redesSociales{
    .link--#{$icono}{
        color: $color;
        margin: $espaciadoPrimario;
        padding: 0 0.5rem;
    }
}

@media(max-width: 768px) {

    .footer {
        justify-content: space-around;
        flex-wrap: wrap;

        &__copyright {
            margin-top: 2rem;
            padding-bottom: 1rem;
            font-weight: $grosorFuente;
        }
    }

    p.footer__copyright {
        font-size: 1rem;
        margin-right: 5rem;
        padding-right: 3rem;
    }

    .contenedor__navbar--footer {
        display: none;
    }
}

@media(max-width:480px) {

    .footer {
        flex-wrap: wrap;
        margin-top: 0.5rem;
        padding: 0.5rem;

        &__copyright {
            margin: 0.5rem auto $espaciadoPrimario;
            font-size: 0.7rem;
            text-align: center;
        }
       
    }

    p.footer__copyright {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    }

    a.footer__icons {
        margin-bottom: 0;
    }
}
