/*Logo*/
.header__logo {
    width: 25rem;
    height: 5rem;
}
.header__logo--compr{
    display: none;
}
/*navegacion*/
a.nav-link {
    transition: all 0.3s;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
        transform: scale(1.1);
        color: $fuenteBlue;
        background-color: lighten($bgSecundario, 3%);
    }   
}
.nav-item:first-of-type{
    border: 1px dotted $fuenteDark;
    border-radius: 0.5rem;
}

/*h1 inicio*/
.imagen__inicio {
    background-image: url(../assets/img-inicio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 0 1rem 2rem 0;
    padding: 2rem;


    & h1 {
        position: absolute;
        display: inline;
        color: $fuenteLight;
        top: 21rem;
        left: 10rem;
        animation: h1Moves 2s alternate;
    }
}

/*animaciones*/
@keyframes h1Moves {
    0% {
        left: -15rem;
    }

    100% {
        left: 10rem;
    }
}
@media(max-width: 768px) {

    .imagen__inicio h1 {
        top: 11rem;
        left: 2rem;
    }

    /*animaciones*/
    @keyframes h1Moves {
        0% {
            left: -20rem;
        }

        100% {
            left: 2rem;
        }
    }

    hr {
        width: 25rem;
        margin: 2rem auto;
    }
    .nav-link{
        color: $fuenteDark;
        text-align: center;
    }
    li:nth-child(odd){
        background-color: lighten($bgSecundario, 3%);
        border-radius: 0.5rem;
        margin: 0.2rem 3rem;
    }
}
@media(max-width:576px){
    .header__logo {
        display: none;
     } 
     .header__logo--compr{
        display: inline-block;
        height: 5rem;
        position: relative;
        right: 10rem;
        margin-left: 0.5rem;
    } 
    .imagen__inicio h1 {
        top: 12rem;
        left: 4rem;
    } 
    @keyframes h1Moves {
        0% {
            left: -20rem;
        }

        100% {
            left: 12rem;
        }
    }
}
@media(max-width:480px){  
    
    .header__logo--compr{
        right: 6rem;
    }
    .navbar {
        flex-wrap: wrap;
        &-toggler{
            margin-right: 0.5rem;
        }
    } 
    li:nth-child(odd){
        margin: 0.5rem 0;
    }

    hr {
        width: 10rem;
        margin: 2rem auto;
    }
    .imagen__inicio {
        height: 20rem;
        margin: $espaciadoPrimario;

        h1{
            font-size: 1.5rem;
            font-weight: $grosorFuente;
            text-align: center;
            margin-right: 2rem;
            top: 6rem;
            left: 1rem;
        }
    }

    /*animaciones*/
    @keyframes h1Moves {
        0% {
            top: -15rem;
        }

        100% {
            top: 6rem;
        }
    }
}
@media(max-width:320px){
    .header__logo--compr{
        right: 4rem;
    }
}

