//mixin
@mixin grid($columns, $gap){
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
    justify-items: center;
}
.services__grid {
    @include grid(repeat(4, 1fr),1rem )
}
/*cards*/
.card {
    background-color: $bgWhite;
    padding: 1.5rem;
    margin: $espaciadoSecundario;
    border: 1px solid rgb(160, 157, 157);
    width: 15rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 0.5rem;

    &__header img{
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;
    }

    h3{
        font-weight: $grosorFuente;
    } 
}

a.card__link {
    text-decoration: underline;
    text-transform: lowercase;
    background-color: $bgSecundario;
    margin: 0.1rem 0.3rem;
    padding: 0.1rem 0.3rem 0.3rem 0.3rem;
    color: $fuenteBlue;
    border: 1px solid rgb(160, 157, 157);
    border-radius: 0.5rem;
    transition: font-size 0.3s;

&:hover {
    font-size: larger;
    }
}
/*mobile last medias*/
@media(max-width:992px){
    .services__grid {
        @include grid(repeat(2, 1fr), 1.5rem)
    }
}

@media(max-width:480px){
    .services__grid {
        @include grid(1fr, 0 );
        margin: $espaciadoPrimario;
    }

    .card {
        height: 25rem;

        &__header img {
            margin: $espaciadoSecundario;
        }
    }
}
