$fuenteDark: #000; 
$fuenteBlue: rgb(20, 13, 59);
$fuenteLight:#f8f8ff;
$bgWhite: #fff;
$bgSecundario: rgba(236, 181, 119, 0.8); 
$espaciadoPrimario: 0 auto;
$grosorFuente: bold;
$espaciadoSecundario: 1rem auto;
$colorRrss: rgb(167, 23, 119)