.content__contacto {
    width: 100%;
    height: 30rem;

    &--address {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &--index {
        color: $fuenteBlue;
        margin-bottom: 1rem;
    }
}

iframe {
    width: 20rem;
    height: 20rem;
}

.contacto__lista--iconos {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: $espaciadoSecundario 1rem 3rem;
    padding: 1rem;
}

.iconos--content {
    display: flex;
    margin: 1rem;
}

i.bi {
    margin-right: 0.5rem;
}

.contacto--contacto {
    margin-right: 2rem;
    padding-right: 2rem;
    text-align: center;

    & h3 {
        margin: 0 1rem;
        padding: 2rem 2rem;
        font-weight: $grosorFuente;
    }
}
/*Extend*/
.btn-base {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: $grosorFuente;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

    &:hover {
        background-color: $bgSecundario;
        font-size: larger;
        color: $fuenteDark;
    }
}
@media(max-width: 768px) {
    .content__contacto {
        height: 40rem;

        &--index {
            margin: 1rem;
            font-size: 22px;
        }

        &--address {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 2fr 1fr;
            justify-items: center;
            margin-top: 2rem;
        }
    }

    iframe {
        width: 15rem;
        height: 15rem;
        margin-bottom: 2rem;
    }

    .contacto--contacto {
        position: relative;
        left: 14rem;
        bottom: 1rem;
    }

    .content__lista--iconos {
        margin: 0.5rem;

        & p {
            font-size: 14px;
        }
    }
}
@media(max-width:576px){
    .content__contacto {
        height: 60rem;

        &--index {
            text-align: center;

            h2 & {
                margin: 1rem auto;
            }
        }
        &--address{
            display: flex;
            flex-direction: column;
            margin: $espaciadoPrimario;
            position: relative;
        }
    }

    iframe {
        margin: 1rem;
        width: 20rem;
        height: 20rem;

    }
    .contacto__lista--iconos {
        margin-top: 2rem;
        margin: $espaciadoSecundario;
    }

    .contacto--contacto {
        position: absolute;
        top: 42rem;
        left: 3rem;

        & h3 {
            font-size: 1.3rem;
        }
    }

}
@media(max-width:480px) {
    .content__contacto {
        height: 60rem;

        &--index {
            text-align: center;

            h2 & {
                margin: $espaciadoSecundario;
            }
        }

        &--address {
            display: flex;
            flex-direction: column;
            margin: $espaciadoPrimario;
            position: relative;
        }
    }

    iframe {
        margin: 1rem;
        width: 20rem;
        height: 20rem;

    }

    .contacto__lista--iconos {
        margin-top: 2rem;
    }

    .contacto--contacto {
        position: absolute;
        top: 42rem;
        left: 3rem;

        & h3 {
            font-size: 1.3rem;
        }
    }

    .iconos--content p {
        margin-left: 1rem;
    }

    .btn-base {
        letter-spacing: 1px;
        padding: 1rem 2rem;
    }

}
