.header__logo {
    width: 25rem;
    height: 5rem;

}

/*transition*/
a.nav-link {
    transition: all 0.3s;
    padding: 1rem;


    &:hover {
        transform: scale(1.2);
        color: $fuenteBlue;
        text-decoration: underline;
        text-decoration-color: #1D8348;
    }
    
}
.nav-item:first-of-type{
    border: 1px dotted $fuenteDark;
    border-radius: 0.5rem;
}

/*h1 inicio*/
.imagen__inicio {
    background-image: url(./assets/img-inicio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 30rem;
    margin: 0 1rem 2rem 0;
    padding: 2rem;


    & h1 {
        position: relative;
        display: inline;
        color: $fuenteLight;
        top: 21rem;
        left: 8rem;
        animation: h1Moves 2s alternate;
    }
}

/*animaciones*/
@keyframes h1Moves {
    0% {
        left: -15rem;
    }

    100% {
        left: 8rem;
    }
}
@media(max-width: 768px) {

    .imagen__inicio h1 {
        position: relative;
        top: 10rem;
        left: 2rem;
    }

    /*animaciones*/
    @keyframes h1Moves {
        0% {
            left: -20rem;
        }

        100% {
            left: 2rem;
        }
    }

    hr {
        width: 25rem;
        margin: 2rem auto;
    }
}
@media(max-width:480px){
    .header__logo {
        width: 100%;
    }    
    
    .navbar {
        flex-wrap: wrap;
    } 

    hr {
        width: 10rem;
        margin: 2rem 3rem 0.5rem 8rem;
    }
    .imagen__inicio {
        height: 20rem;
        margin: $espaciadoPrimario;

        h1{
            font-size: 1.5rem;
            font-weight: $grosorFuente;
            text-align: center;
            margin-right: 2rem;
            top: 6rem;
            animation: h1Moves 1s alternate;
        }
    
    }

    /*animaciones*/
    @keyframes h1Moves {
        0% {
            top: -15rem;
        }

        100% {
            top: 6rem;
        }
    }

}

