.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
}

.card {
    background-color: $bgWhite;
    padding: 1.5rem;
    margin: $espaciadoSecundario;
    border: 1px solid rgb(160, 157, 157);
    width: 15rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 0.5rem;

    &__header img{
        width: 5rem;
        height: 5rem;
    }
    
}

a.card__link {
    text-decoration: underline;
    text-transform: lowercase;
    background-color: $bgSecundario;
    margin: 0.1rem 0.3rem;
    padding: 0.1rem 0.3rem 0.3rem 0.3rem;
    color: $fuenteBlue;
    border: 1px solid rgb(160, 157, 157);
    border-radius: 0.5rem;
    transition: font-size 0.3s;



&:hover {
    font-size: larger;
    }
}
@media(max-width: 768px){
    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

}
@media(max-width:480px){
    .services__grid {
        grid-template-columns: 1fr;
        margin: 1rem auto;
    }

    .card {
        height: 25rem;

        &__header img {
            margin: 1rem auto;
        }
    }

}
