.footer--pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer__copyright--pages {
    margin-top: 1rem;
    font-weight: $grosorFuente;
}
/*mobile last medias*/
@media(max-width:768px){
    .footer__icons{
        margin-top: 1rem;
    }    
}
@media(max-width:480px) {
    .footer__copyright--pages {
        margin: 0 auto $espaciadoPrimario;
        font-size: 0.7rem;
        text-align: center;
    }
}
   