.galery {
    position: relative;

    &__img {
        width: 100%;
        height: 30rem;
        opacity: 0.8;
        margin-bottom: 2rem;
    }
}

h1.galery__titulo {
    @extend .titulo__nosotros;
    text-align: center;
    top: 26rem;
    left: 38rem;
    animation: h1MdMoveG 2s alternate;
}

/*animacion*/
@keyframes h1MdMoveG {
    0% {
        top: 5rem;
    }

    100% {
        top: 26rem;
    }
}

.galery__subtitulo {
    color: $fuenteBlue;
    font-size: 22px;
    font-weight: $grosorFuente;
    margin: 1rem 5rem 2rem 4rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.galery__blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    margin: 0 1rem 3rem 1rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    }

}

/*mobile last medias*/
@media(max-width: 768px) {
    .galery__blog {
        grid-template-columns: repeat(2, 1fr);
    }

    h1.galery__titulo {
        top: 13rem;
        left: 13rem;
        animation: h1MdMoveG 2s alternate;
    }

    /*animacion*/
    @keyframes h1MdMoveG {
        0% {
            top: 5rem;
        }

        100% {
            top: 13rem;
        }
    }
}

@media(max-width:576px) {
    .galery__img {
        height: 15rem;
    }

    h1.galery__titulo {
        font-size: 1.5rem;
        top: 7rem;
        left: 10rem;
        animation: h1MdMoveG 2s alternate;
    }

    /*animacion*/
    @keyframes h1MdMoveG {
        0% {
            top: 1rem;
        }

        100% {
            top: 7rem;
        }
    }

    .galery__subtitulo {
        font-size: 1.2rem;
        text-align: center;
        margin: $espaciadoSecundario;
    }

    .galery__blog {
        grid-template-columns: 1fr;
        padding: 1rem;
        margin: $espaciadoPrimario;
    }
}

@media(max-width:480px) {

    h1.galery__titulo {
        left: 4rem;
    }
}

@media(max-width:320px) {
    h1.galery__titulo {
        left: 2rem;
        animation: h1MdMoveG 2s alternate;
    }
}